/* 共通 */
html {
    height: calc(100% - 55.33px);
}
body {
    height: 100%;
    background-color: #9d9d9d4f;
    font-family: 'Noto Sans JP', sans-serif;    /* Googleフォント */
}

*{
    font-family: var(--bs-font-monospace) 
}

h1{
    color: #007bff;
}

main section {
    padding: 16px;
}

/* ナビゲーションバー */
.nav-item:hover .nav-link{
    background-color: rgba(0, 0, 0, 0.25);
    transition: background-color 0.2s;
}

/* login */
#login {
    max-width: 300px;
}

